.bg-hero{
    background-image: url(../../img/header-pic-background.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

@media (max-width: 575.98px) {
    .bg-hero{
        background-image: url(../../img/header-pic-background2.jpg);
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 

    }
}